{% extends 'Homepage/base.html' %}
{% load staticfiles %}
{% block body %}

<h3 class="text-center" data-scroll-reveal="enter from the top after 0.9s">Today's Special</h3>
            <div class="col-md-4"></div>
            <div class="col-md-4">
            <div class="text-center">
            <span id="day"></span>

            </div>
                
            </div>
            <div class="col-md-4"></div>
        </div>
</div>
<div class="container second-side">
    <div class="row parent-row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                {% for food in foods %}
                <div class="col-md-6">
                    <div class="cards" data-scroll-reveal="enter from the left after 0.7s">
                        
                        <div class="thumbnail">
                            <img name="change-image" src="{{ food.image.url }}" width="100%" height="300" class="img-circle" onmouseover="changeImage">
                        </div>
                        <!-- end thumbnail -->
                        <div class="price">
                        <h6 class="text-center">{{ food.name }}</h6>
                            <!-- <h6 class="text-center">Abak Mbakara soup with stockfish at &#8358;750</h6> -->
                        </div>
                        
                        <!-- end price -->
                        <div class="lista">
                            <ul>
                                
                                <li>
                                        {% if request.user.is_authenticated %}
                                            {% if timer %}
                                                <p><strong>Sorry its past time be early nextime</strong></p>
                                            {% else %}
                                                <form style="display: inline;" action="{% url 'Homepage:order' food.id  %}" method="post">
                                            
                                                    <button type="submit" class="btn btn-warning btn-lg">Choose</button>
                                                    {% csrf_token %}
                                                </form>
                                            {% endif %}

                                        {% else %}
                                            <p><strong>Please Sign in or Sign Up to Choose</strong></p>
                                        {% endif %}
                                    
                                </li>
                            </ul>
                            
                        </div>
                        <!-- end lista -->
                    </div>
                                        <!-- end cards -->
                </div>
                {% endfor %}

              
                        </div>
                        <!-- end lista -->
                    </div>
                    <!-- end cards -->
<!--                 </div> -->
           </div>

        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- end row -->
{% endblock body%}