
body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f8f8f8;

}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#wrapper {
    width: 100%;
    margin-top: 55px!important; 
    background-color:; 
}
#page-holder {
    padding: 0 15px;
    min-height: 568px;
     background-color:#e5e4e2;
}
.navbar-default {
    border-color: #fff;
    background: #e35a2c;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px;
    min-height: 50px;
}

@media (min-width: 768px){


.navbar-static-side {
    z-index: 1;
    position: absolute;
    width: 250px;
}

}


/* side-menu section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #75C5B8;
}
.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}
#side-menu {
    background-color:#e35a2c;
}

 #side-menu a {
color:#fff;
border-bottom: 1px solid #fff !important;
height: 55px;
}
.selected {
background-color:rgb(83, 163, 163);
}
.user-section {
    margin-top: 20px;
    font-size: 22px;
    background-color:#fff;
}
.user-section-inner {
    height: 65px;
    width: 65px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 20px;
}

.user-info {
    display: block;
    color: #000!important;
    display: inline-block;
    padding: 15px;
    margin-bottom: 0px;
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.navbar-static-side ul li {
    border-bottom: 1px solid #fff !important;
}
 .sidebar-search {
    padding: 15px;
}
.sidebar-search input[type="text"] {
    outline: none;
}

@media(min-width:768px) {
    #page-holder {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1000px;
       
       
    }

}

@media(max-width:768px) {
#wrapper {
    margin-top:140px!important;
    
}
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border:0;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color:#e35a2c;
    border:0;
}
.panel-primary {
    border:0;
    border-color:;
}
/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}
